.category-container {
  width: 100%;
  color: none;
}

.category-item {
  cursor: pointer;
  margin: 10px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.category-item.selected {
  box-shadow: 0 0 10px rgb(255, 255, 255); 
}


.category-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.category-lines-container {
  padding: 10px;
}

